/*
Color palette pour le site : 
#1D3461
#1F487E
#376996
#6290C8
#829CBC

*/

body {
  /*background-color: #1f487e;*/
  background-image: url("https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
  font-family: open-sans;
}

.top-buffer {
  margin-top: 10px;
}

#title {
  max-height: 250px;
}

#logo,
#names {
  display: flex;
  align-items: center;
}

#logo,
#logo_cont,
#logo_img {
  max-height: 100%;
  max-width: 100%;
}

#title {
  border: solid #1d3461;
  border-radius: 10px;
  border-width: 5px;
  background-color: #1f487e;
  background-image: linear-gradient(#1d3461, #1f487e);
  display: flex;
  align-items: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  vertical-align: middle;
}

p {
  padding: 10px;
}

#namebox {
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #1d3461;
}

div.inner.names,
#namebox {
  margin-left: 0;
  margin-right: auto;
}

#pres {
  border: solid #829cbc;
  border-radius: 10px;
  border-width: 3px;
  background-color: #b2d5ff;
}

p.explain {
  text-align: justify;
}

div.viz {
  background-color: #b2d5ff;
}

#circle-wrapper,
#stats-circle {
  border-top: solid 3px #829cbc;
}

#circle-wrapper,
#st-cr-wrapper {
  border-left: solid 3px #829cbc;
  border-right: dotted 3px #829cbc;
}

#st-cr-wrapper,
#course-radios {
  border-bottom: solid 3px #829cbc;
}

#stats-circle,
#course-tick,
#course-graph,
#course-radios {
  border-right: solid #829cbc;
  border-right-width: 3px;
}

#overview {
  border-bottom: solid 1px #829cbc;
}

#course {
  border-top: solid 1px #829cbc;
}

#course-tick,
#course-graph,
#course-radios {
  border-left: solid #829cbc 3px;
}

#circle-wrapper {
  border-top-left-radius: 10px;
}

#stats-circle {
  border-top-right-radius: 10px;
}

#st-cr-wrapper,
#course-radios {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid #829cbc 3px;
}

#st-cr-title {
  text-align: center;
}

div.keys {
  text-align: right;
}

div.values {
  text-align: left;
}

.horizontalGrid {
        stroke: grey;
        stroke-opacity: 0.5;
        shape-rendering: crispEdges;
      }
      .line {
        fill: none;
        stroke: #383838;
        stroke-width: 1px;
      }
      .overlay {
        fill: none;
        pointer-events: all;
      }
